%button-shared {
  border-radius: 5px;
  padding: 12px;
  border: #8b9389 solid 1px;
  color: #000000;
}

.default {
  @extend %button-shared;
  cursor: default;
  background-color: #86d992;
  &:hover {
    background-color: #007d0a;
  }
}

.disabled {
  @extend %button-shared;
  background-color: #999999;
  pointer-events: none;
}
