.parent {
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 2px;
  margin: 4px;
  width: 6.5rem;
  height: 2rem;
  display: inline-flex;
}

.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phrase {
  flex-grow: 2;
  margin-left: 4px;
}
